PORT=3000
DATABASE_URL="mysql://root:password@localhost:3306/booking_care_db"
JWT_SECRET="super_secret_jwt_key_booking_care"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_SECRET="super_secret_refresh_key_booking_care"
JWT_REFRESH_EXPIRES_IN="7d"
